
#############################################################################
#   External Config Includes
#############################################################################
[include cartographer.cfg]
# [include mainsail.cfg]          ; mainsail runs on port 81 (http://IP_ADDRESS:81)
# [include ./KAMP/Smart_Park.cfg]
# [include ./KAMP/Line_Purge.cfg]
#[include klipper_debug.cfg]
#[include adxl.cfg]             ; Comment this out when you disconnect the Pico/MellowFly
[include fluidd.cfg]
[include KAMP_Settings.cfg]
[include user_settings.cfg]     ; Users custom macros 
[include Neptune4Stock_tmc.cfg]
[include macros.cfg]
[include automatic_heater_bed.cfg]

#############################################################################
#   Base Config
#############################################################################

[mcu]
serial: /dev/ttyS0 ; The hardware use USART1 PA10/PA9 connect to RK3328
baud: 250000
restart_method: command

[printer]
kinematics:cartesian
max_velocity: 350
max_accel: 6500 #20000
max_z_velocity: 25 #8
max_z_accel: 120
square_corner_velocity: 9.0 #5.0
minimum_cruise_ratio: 0.0

[respond]
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]
[firmware_retraction]
[virtual_sdcard]
path: ~/printer_data/gcodes
[force_move]
enable_force_move : True
[idle_timeout]
timeout: 7200                  ; 35min idle timeout (when not paused or printing)
gcode:
  {action_respond_info("IDLE TIMEOUT: Running idle gcode...")}
  M84
  TURN_OFF_HEATERS
  Part_Light_OFF
  Frame_Light_OFF

#############################################################################
#   X/Y/Z Stepper Config
#############################################################################

[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance:40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PC0
position_min: -5.6 #-6.5
position_endstop: -5.6 #-6.5
position_max: 240
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: false

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 16
rotation_distance:40
full_steps_per_rotation:200                  ; set to 400 for 0.9 degree stepper
endstop_pin: PB8
position_min: -5 #-2
position_endstop: -5 #0
position_max: 230 #235
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z]
step_pin: PB1
dir_pin: PB2
enable_pin: !PB0
microsteps: 16 #32
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 268
position_min: -10 #-20
homing_speed: 8
homing_retract_dist: 0

[stepper_z1]
step_pin: PC10
dir_pin: !PA15
enable_pin: !PC11
microsteps: 16 #32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

#############################################################################
#   TMC Stepper-driver UART Config
#############################################################################

[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999
sense_resistor: 0.11

[tmc2209 stepper_y]
uart_pin: PD2
run_current: 1.2
interpolate: True
stealthchop_threshold: 999999
sense_resistor: 0.11

[tmc2209 stepper_z]
uart_pin: PB6
run_current: 0.8
interpolate: True
sense_resistor: 0.11
stealthchop_threshold: 120

[tmc2209 stepper_z1]
uart_pin: PC5
run_current: 0.8
interpolate: True
sense_resistor: 0.11
stealthchop_threshold: 120

[tmc2209 extruder]
uart_pin: PC4
run_current: 0.9
interpolate: True
sense_resistor: 0.11

#############################################################################
#   Extruder Config
#############################################################################

[extruder]
step_pin:PA5
dir_pin:!PA6
enable_pin:!PA4
microsteps: 32
rotation_distance: 28.371 #28.888                     ; 31.4 Bondtech 5mm Drive Gears
gear_ratio: 52:10
full_steps_per_rotation: 200                  ; 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 330
heater_pin: PA7
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PA1
max_power: 1
pressure_advance: 0.02725
pressure_advance_smooth_time: 0.02
max_extrude_cross_section: 5                  ; standard klipper default 4* (NozzleDiam^2)
instantaneous_corner_velocity: 5.0
max_extrude_only_distance: 100
max_extrude_only_velocity:45
max_extrude_only_accel:2000
step_pulse_duration:0.000002

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 10
heating_gain: 2

#############################################################################
#   Bed Heater Config
#############################################################################

[heater_bed]
heater_pin:PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
min_temp: 0
max_temp: 120 

[verify_heater heater_bed]
max_error: 120
check_gain_time: 120
hysteresis: 10
heating_gain: 1

#####################################################################
#   Outer Bed Heater Config
#####################################################################

[heater_generic heater_bed_outer]
heater_pin:PC8
max_power:1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin:PC2
control = pid
pid_kp = 73.454
pid_ki = 1.024
pid_kd = 1316.655
min_temp:0
max_temp:120

[verify_heater heater_bed_outer]    ; heating bed temperature tolerance configuration
max_error: 600                      ; maximum error
check_gain_time:120                 ; tolerance time
hysteresis: 10                      ; tolerance temperature
heating_gain: 1                     ; heating gain

#############################################################################
#   Probe Config
#############################################################################

[bed_mesh]
speed: 500
horizontal_move_z: 8
# mesh_min: 25, 25 #22, 22
# mesh_max: 210, 210
# mesh_min: 20, 25
# mesh_max: 210, 211
mesh_min: 10, 15 
mesh_max: 220, 214
probe_count: 11, 11 #20, 20
algorithm: bicubic
bicubic_tension: 0.2
mesh_pps: 4, 4
fade_start: 1.0 # Was 0.6
fade_end: 10.0
zero_reference_position: 112.5, 112.5
adaptive_margin: 3

# [dockable_probe]
# #z_offset: 0 # bigger == closer to the bed
# pin: ^PA11
# x_offset: -23
# y_offset: 22
# speed: 10.0
# samples: 2
# samples_result: median 
# sample_retract_dist: 2.0
# samples_tolerance: 0.025
# samples_tolerance_retries: 3
# dock_position: -5,0
# approach_position: 25,0
# detach_position: 25,0,2
# z_hop: 15
# check_open_attach: True
# attach_speed: 50.0
# detach_speed: 50.0
# travel_speed: 500.0
# pre_detach_gcode:
#   G1 Z30 F600

#############################################################################
#   LED Config
#############################################################################

# [output_pin Frame_Light]
# pin: PB7

# [output_pin Part_Light]
# pin: PC7

[output_pin Frame_Light]
pin: rpi:gpiochip2/gpio2

[output_pin Part_Light]
pin: rpi:gpiochip2/gpio15

[gcode_macro Frame_Light_ON]
gcode:
  SET_PIN PIN=Frame_Light VALUE=1

[gcode_macro Frame_Light_OFF]
gcode:
  SET_PIN PIN=Frame_Light VALUE=0

[gcode_macro Part_Light_ON]
gcode:
  SET_PIN PIN=Part_Light VALUE=1

[gcode_macro Part_Light_OFF]
gcode:
  SET_PIN PIN=Part_Light VALUE=0

#############################################################################
#   Beeper Config
#############################################################################

[pwm_cycle_time beeper]
pin: PA2
value: 0
shutdown_value: 0
cycle_time: 0.0005                                  ; Default PWM frequency: 2 kHz

#############################################################################
#   Fan & Temp Monitoring Config
#############################################################################

[fan]
pin: PC9

[fan_generic Bentobox]
pin: PC7
cycle_time: 0.01
hardware_pwm: false

# [heater_fan Heatbreak_Fan]
# pin: PA8
# heater: extruder
# fan_speed: 0.6
# min_power: 0.4
# kick_start_time: 0.5

[controller_fan heatbreak_fan]
pin: PA8
fan_speed: 1.0
idle_speed: 1.0
idle_timeout: 300                     ; 100% speed for 5min then OFF to make sure the heatbreak is cold enough
shutdown_speed: 1
heater: extruder
#stepper: stepper_x, stepper_y, stepper_z, extruder

[temperature_fan mainboard_fan]
pin: PB7
kick_start_time: 0.8
#shutdown_speed: 0
# off_below: 0.2
max_power: 0.6 #1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1
target_temp: 50

[temperature_sensor Rockchip_Host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor STM32_MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 85

#############################################################################
#   Homing & Levelling Config/Macros
#############################################################################

[safe_z_home]
home_xy_position: 112.5, 112.5 #141.75, 97.05 #117.5, 94.61
speed: 400
z_hop: 15
z_hop_speed: 25 #5

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 210
calibrate_y: 117.5

[screws_tilt_adjust]
#docker_probe
# screw1: 54.75, 176.05 
# screw1_name: rear left screw
# screw2: 54.75, 5.05  
# screw2_name: front left screw
# screw3: 226.75, 5.05 
# screw3_name: front right screw
# screw4: 226.75, 176.05 
# screw4_name: rear right screw

#carto
screw1: 33, 176
screw1_name: rear right screw
screw2: 33, 6
screw2_name: front right screw
screw3: 203, 6
screw3_name: front left screw
screw4: 203, 176
screw4_name: rear left screw
speed: 150
horizontal_move_z: 15
screw_thread: CW-M4

[z_tilt]
z_positions:
  -30, 0
  265, 0
points:
# Beacon Probe
  30, 180 # Orz is 30, 180
  199, 180 # Orz is 199, 180
  # 54.75, 115 # Was 40,115
  # 226.75, 115 # Was 235,115
speed: 300
horizontal_move_z: 8
retries: 10
retry_tolerance: 0.005

#############################################################################
#   Filament Sensor
#############################################################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
insert_gcode:
  M117 Insert Detected
runout_gcode:
  M117 Runout Detected
  UNLOAD_FILAMENT
event_delay: 3.0
pause_delay: 1.0
switch_pin: PA12

[delayed_gcode DISABLE_FILAMENT_SENSOR]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

#############################################################################
#   SPI Accelerometer Config
#############################################################################    
      
[mcu rpi] 
serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None
# spi_bus: spidev0.2

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     117.5, 110, 20

#############################################################################
#   Input Shaper Config
#############################################################################

[input_shaper]
shaper_type_x = ei
shaper_freq_x = 53
shaper_type_y = 2hump_ei
shaper_freq_y = 67.4

#############################################################################

#############################################################################
#   Cartographer 3D
#############################################################################

[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_110003800643564738333920-if00
x_offset: 0                          
y_offset: 22.89                         
sensor: cartographer
sensor_alt: carto
backlash_comp: 0.02049

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    117.5, 110, 20

[skew_correction]


#############################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.131905, -0.087530, -0.044405, -0.023155, 0.001220, -0.018780, -0.017530, -0.056280, -0.091280, -0.148155, -0.204405
#*# 	-0.086280, -0.074405, -0.024405, -0.017530, -0.015030, -0.013155, -0.031905, -0.082530, -0.132530, -0.175655, -0.252530
#*# 	-0.083155, -0.043780, -0.025655, -0.009405, -0.011280, -0.015655, -0.032530, -0.061280, -0.115655, -0.170030, -0.222530
#*# 	-0.081280, -0.043155, -0.018780, 0.000595, 0.008720, 0.001220, -0.033155, -0.073780, -0.117530, -0.166905, -0.225655
#*# 	-0.081905, -0.043780, -0.015655, 0.008720, 0.012470, 0.003095, -0.025655, -0.068780, -0.108780, -0.149405, -0.183155
#*# 	-0.082530, -0.076905, -0.035030, -0.010655, 0.004970, -0.002530, -0.011905, -0.051280, -0.084405, -0.132530, -0.175655
#*# 	-0.092530, -0.049405, -0.014405, -0.015030, -0.006905, -0.002530, -0.006905, -0.040030, -0.085655, -0.140655, -0.201280
#*# 	-0.091280, -0.066905, -0.023155, -0.000655, 0.006220, 0.004970, -0.005030, -0.047530, -0.058155, -0.103780, -0.181280
#*# 	-0.124405, -0.086905, -0.041905, -0.031905, -0.009405, -0.026905, -0.018155, -0.043780, -0.071905, -0.110030, -0.166905
#*# 	-0.149405, -0.118155, -0.069405, -0.065030, -0.024405, -0.017530, -0.020655, -0.054405, -0.095030, -0.114405, -0.178780
#*# 	-0.158155, -0.139405, -0.093155, -0.072530, -0.046905, -0.015655, -0.048155, -0.055655, -0.055030, -0.113155, -0.152530
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 210.0
#*# min_y = 25.0
#*# max_y = 211.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.377
#*# pid_ki = 11.599
#*# pid_kd = 26.975
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 68.111
#*# pid_ki = 1.879
#*# pid_kd = 617.257
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0020100545507498145
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [heater_bed_outer]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 64.705
#*# pid_ki = 0.943
#*# pid_kd = 1110.506
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 2000
#*# scanner_touch_speed = 2
#*# scanner_touch_z_offset = 0.022
#*#
#*# [scanner model default]
#*# model_coef = 1.334232347135949,
#*# 	  1.7489786193907317,
#*# 	  0.7347635731107741,
#*# 	  0.32711192258749844,
#*# 	  0.4513696680785866,
#*# 	  0.5558327510656513,
#*# 	  -0.28654197489603855,
#*# 	  -0.531552773331441,
#*# 	  0.3159073834634433,
#*# 	  0.35033067275294366
#*# model_domain = 3.10308288681223e-07,3.2776965545569064e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 34.187401
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
